#playButton{
    -fx-background-color: #39a2ae;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#playButton:hover{
    -fx-background-color: red;
    -fx-text-fill: white;
}

#player1NameBox,#player1RollBox,#player1ScoreBox{
     -fx-border-width: 0px 0px 3px 0px;
     -fx-border-style: dotted;
     -fx-border-color: white;
 }

#player2NameBox,#player2RollBox,#player2ScoreBox{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-style: dotted;
    -fx-border-color: white;
}

#player1Fields{
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-style: dotted;
    -fx-border-color: white;
}
#player2Fields{
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-style: dotted;
    -fx-border-color: white;
}

#leadingPlayerBox{
    -fx-border-width: 2px 0px 2px 0x;
    -fx-border-style: dotted;
    -fx-border-color: white;
}

#targetBox{
    -fx-border-width: 2px 0px 2px 0x;
    -fx-border-style: dotted;
    -fx-border-color: white;
}

.root {
    -fx-background-color: linear-gradient(to left ,#1e3c72,#2a5298);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}





