/*.root {*/
  /*-fx-background-image: url("../Images/xxx.jpg");*/
  /*-fx-background-repeat: no-repeat;*/
  /*-fx-background-position: center;*/
/*}*/

#backButton{
  -fx-background-color: #39a2ae;
  -fx-background-radius: 25;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

#backButton:hover{
  -fx-background-color:  #d7263d;
}

.button {
  -fx-background-color: #39a2ae;
  -fx-background-radius: 25;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.button:hover {
  -fx-background-color: red;
  -fx-text-fill: white;
}

.label {
  -fx-text-fill: #39a2ae;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.text-field {
  -fx-background-color: #39a2ae, white, white;
  -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
  -fx-prompt-text-fill: #561f37;
}

.text-field:focused {
  -fx-background-color: #39a2ae, white, white;
  -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
